.vscode/
settings.py
*.pyc
*.svn
*~

# folders
logs
node_modules/
static/templates/media_files
static/templates/bower_components/
static/templates/npm_deps/
.idea
ENV/
certificados/

informes_comprobantes_ejemplos/
.pytest_cache/
