{% extends "base/base.html" %}

{% block content %}
<div class="dr">

	<div class="dc" style="width:52px;"><img src="/images/spacer.gif" width="1" height="1" alt=""></div>
	<div class="dc" style=" height:343px; background:#FBFBFB;"><img src="/images/title_4_3.gif" alt="" style="margin:17px 0px 17px 15px;">
		<div class="dt">
			<div class="dr">
				<div class="dc" style=" width:26px;"><img src="/images/spacer.gif" width="1" height="1" alt=""></div>
				<div class="dc form" style=" ">
					<div style=" width:600px;font-size:18px;">
						<span>Gracias por contactarse con nosotros! Su mensaje ha sido enviado. </span>
						<br style="line-height:1px;"><br style="line-height:16px;">
		
					</div>
				
					<div style=" width:600px;margin-top:10px;">
						Lo invitamos a que siga navegando nuestras p&aacute;ginas m&aacute;s visitadas.
						<ul style="padding:4px 0px 0px 0px;">
							<li><a href="/content/15">Preparaci&oacute;n para Estudio</a></li>
							<li><a href="/listContents/?categoryId=5&template=preguntas_pacientes.html">¿Qu&eacute; nos preguntan nuestros pacientes?</a></li>
							<li><a href="/content/3/">Cancer de Colon</a></li>
							<li><a href="/content/23/">Cu&aacute;ndo y por qu&eacute; de las colonoscop&iacute;as?</a></li>
							<li><a href="/content/6/">C&aacute;lculos de ves&iacute;cula</a></li>
							<li><a href="/content/2">Endocapsula</a></li>

						</ul>
		
					</div>
				</div>
				<div class="dc" style=" width:14px;"><img src="/images/spacer.gif" width="1" height="1" alt=""></div>
			</div>
		</div>
	</div>	

			
</div>

{% endblock %}
