<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>P&aacute;gina en construcci&oacute;n</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="main dt">
	<div class="dr">
		<div class="dc">
			<div class="dt">
				<div class="dr">
				
				
				
					<div class="dc">
					
						<div class="flash " >
						</div>
						
						
						<div class="dt" style=" height:22px;"><img src="/images/spacer.gif" width="1" height="1" alt=""></div>	
						<div class="content_0 dt">
								<div class="dr">
								
									<div class="dc" style="width:25px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div>
									Estamos renovando nuestro sitio web, con m&aacute;s informaci&oacute;n y servicios, para que conozcas nuestra c&aacute;lidad m&eacute;dica y nos elijas.
									<div class="dc" style="width:25px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div><br>
								</div>

						</div>
					</div>

				

				
				
				</div>
			</div>
			
			
		</div>
	</div>
										
</div>
</body>
</html>
