{% extends "base/base.html" %}

{% block content %}

<div class="dr">
<div class="dc" style="width:59px;"><img src="/media/images/spacer.gif" width="1" height="1" alt=""></div>
<div class="dc" style="width:600;">
	<div style="font-size:16px;">{% if img1 %}<img src="/media/media_files/{{img1_med}}" align="left" alt="" style="margin:4px 15px 0px 0px;cursor:pointer;" title="Ampliar" onclick="window.open('/media/media_files/{{img1}}', null, 'height=400,width=500,status=yes,toolbar=no,menubar=no,location=no')">{% endif %}<b>{{title}}</b></div>
<!-- 	<div style="font-size:14px;">{{description|escape|linebreaks}}</div> -->
		<br>
	<div>{{body|escape|linebreaks}}</div>

	<div>

		<div id="cuerpo_medico" style="margin-top:10px;font-size:16px;"><b>Cuerpo M&eacute;dico</b></div>
		<div style="margin-top:8px;"><b>Director M&eacute;dico:</b></div>
		<div><a href="/content/54/?buttonId=2">Dr. Jos&eacute; E. A. Brunetti</a></div>
		

		<div style="margin-top:8px;"><b>M&eacute;dicos Gastroenter&oacute;logos:</b></div>
		<div><a href="/content/67/?buttonId=2">Dr. Pablo Alasino</a></div>
		<div><a href="/content/40/?buttonId=2">Dr. Gerardo Alegre</a></div>
		<div><a href="/content/47/?buttonId=2">Dr. N&eacute;stor Aucia</a></div>
		<div><a href="/content/101/?buttonId=2">Dr. Juan Manuel Balassone</a></div>
		<div><a href="/content/37/?buttonId=2">Dr. Oscar Bedini</a></div>
		<div><a href="/content/54/?buttonId=2">Dr. Jos&eacute; E. A. Brunetti</a></div>
		<div><a href="/content/102/?buttonId=2">Dr. Hip&oacute;lito Canteli</a></div>
		<div><a href="/content/96/?buttonId=2">Dra. Sandra Ciccarelli</a></div>
		<div><a href="/content/46/?buttonId=2">Dra. Adriana Conta</a></div>
		<div><a href="/content/41/?buttonId=2">Dra. Dora Del Grecco</a></div>
		<div><a href="/content/49/?buttonId=2">Dr. Cristian Galli</a></div>
		<div><a href="/content/50/?buttonId=2">Dr. Ariel Gamba</a></div>
		<div><a href="/content/52/?buttonId=2">Dra. Silvina Judchak</a></div>
		<div><a href="/content/39/?buttonId=2">Dr. Oscar Larsen</a></div>		
		<div><a href="/content/107/?buttonId=2">Dra. Maria Carla Maccagni</a></div>
		<div><a href="/content/111/?buttonId=2">Dra. Carina Maglione</a></div>
		<div><a href="/content/113/?buttonId=2">Dra. María José Maldonado</a></div>
		<div><a href="/content/48/?buttonId=2">Dr. Oscar Paganini</a></div>
		<div><a href="/content/81/?buttonId=2">Dr. Daniel Pratto</a></div>
		<div><a href="/content/83/?buttonId=2">Dr. Jorge Rainoldi</a></div>
		<div><a href="/content/82/?buttonId=2">Dr. Federico Rainoldi</a></div>
		<div><a href="/content/103/?buttonId=2">Dra. Miriam Salgado</a></div>
		<div><a href="/content/42/?buttonId=2">Dra. Patricia San Miguel</a></div>
		<div><a href="/content/43/?buttonId=2">Dra. Alejandra Vila</a></div>

		<div style="margin-top:8px;"><b>Especialista en Hepatolog&iacute;a y transplante hep&aacute;tico:</b></div>
		<div><a href="/content/121/?buttonId=2">Dra. Zingale Fernanda Gabriela</a></div>
		
		<div style="margin-top:8px;"><b>Anestesiolog&iacute;a:</b></div>
		<div><a href="/content/44/?buttonId=2">Dr. Jos&eacute; Furno</a></div>
		<div><a href="/content/68/?buttonId=2">Dr. Jorge Kaller</a></div>
		<div><a href="/content/45/?buttonId=2">Dr. Rodolfo Novau</a></div>
		<div><a href="/content/53/?buttonId=2">Dr. Mariano Traglia</a></div>
		<div><a href="/content/129/?buttonId=2">Dr. Franco Frenquelli</a></div>

		<div style="margin-top:8px;"><b>Cirug&iacute;a Laparosc&oacute;pica Mini invasiva / Hernias:</b></div>
		<div><a href="/content/72/?buttonId=2">Dr. Gustavo Lavallen</a></div>
		<div><a href="/content/73/?buttonId=2">Dr. Sebastián Pardini</a></div>

		<div style="margin-top:8px;"><b>Cirug&iacute;a Proctol&oacute;gica:</b></div>		
		<div><a href="/content/74/?buttonId=2">Dr. Juan Pablo Trucco</a></div>
		
		<div style="margin-top:8px;"><b>Cirug&iacute;a General:</b></div>
		<div><a href="/content/71/?buttonId=2">Dr. Germán Fernandez</a></div>
		<div><a href="/content/100/?buttonId=2">Dr. Pablo Nadalin</a></div>
		
		<div style="margin-top:8px;"><b>Cirug&iacute;a Urol&oacute;gica:</b></div>
		<div><a href="/content/110/?buttonId=2">Dr. Sebastián Ripoll</a></div>

		<div style="margin-top:8px;"><b>Oncolog&iacute;a:</b></div>
		<div><a href="/content/114/?buttonId=2">Dr. Mario Astegiano</a></div>

		<div style="margin-top:8px;"><b>Cardiolog&iacute;a:</b></div>
		<div><a href="/content/93/?buttonId=2">Dr. Leandro Enjuto</a></div>		  

		<div style="margin-top:8px;"><b>Cl&iacute;nica M&eacute;dica:</b></div>
		<div><a href="/content/112/?buttonId=2">Dra. Mariana Negri</a></div>
		<div><a href="/content/115/?buttonId=2">Dra. Silvia Valentini</a></div>

		<div style="margin-top:8px;"><b>Medicina gral. y de familia:</b></div>
		<div><a href="/content/113/?buttonId=2">Dra. María José Maldonado</a></div>

		<div style="margin-top:8px;"><b>Endocrinolog&iacute;a:</b></div>
		<div><a href="/content/77/?buttonId=2">Dr. Mario Aquiles Berardi</a></div>
		<div><a href="/content/85/?buttonId=2">Dra. Maria Ana Fina</a></div>

		<div style="margin-top:8px;"><b>Ginecolog&iacute;a :</b></div>
		<div><a href="/content/116/?buttonId=2">Dr. Rafael Luis Pineda</a></div>
		<div><a href="/content/117/?buttonId=2">Dra. Martinez Liliana</a></div>
		<div><a href="/content/118/?buttonId=2">Dra. Mar&iacute;a Roxana Alvarez</a></div>

		<div style="margin-top:8px;"><b>Flebolog&iacute;a y Medicina Est&eacute;tica:</b></div>
		<div><a href="/content/119/?buttonId=2">Dra. Andrea Robles</a></div>

		<div style="margin-top:8px;"><b>Dermatolog&iacute;a:</b></div>
		<div><a href="/content/108/?buttonId=2">Dra. Bodo, Monica Beatriz</a></div>

		<div style="margin-top:8px;"><b>Ecograf&iacute;as:</b></div>
		<div><a href="/content/80/?buttonId=2">Dr. Miguel Montorfano</a></div>
		<div><a href="/content/97/?buttonId=2">Dr. Leonardo Vera</a></div>		  	

		<div style="margin-top:8px;"><b>Nutrici&oacute;n:</b></div>
		<div><a href="/content/109/?buttonId=2">Siri, Maria Paz</a></div>

		<div style="margin-top:8px;"><b>Psicolog&iacute;a y psicosom&aacute;ticas:</b></div>
		<div><a href="/content/99/?buttonId=2">Marcela Makaroff</a></div>
		<div><a href="/content/120/?buttonId=2">Maria Cecilia Machado</a></div>

		<div style="margin-top:8px;"><b>Secci&oacute;n Phmetr&iacute;a y Manometr&iacute;a Esof&aacute;gica:</b></div>
		<div>Dr. Gabriel Solzi</div>

		<div style="margin-top:8px;"><b>Secci&oacute;n Endoc&aacute;psula:</b></div>
		<div><a href="/content/42/?buttonId=2">Dra. Patricia San Miguel</a></div>
		

	
		
		
		<!--<div style="margin-top:10px;">A todo lo expuesto una estructura edilicia moderna funcional y armónica, con un selecto personal técnico y administrativo completa ente Centro en constante crecimiento.</div>-->


	</div>
	<div>{{footer|escape|linebreaks}}</div>

</div>

</div>
{% endblock %}
