{% extends "base/base.html" %}

{% block content %}
<div class="dr">

  <div class="sitemap">
    <h3>Cedir</h3>
    <ul>
      <li><a href="/content/1/?buttonId=2&template=quienes_somos.html">Quienes somos</a></li>
      <li><a href="/static/?name=contacto.html&buttonId=5">Contacto</a></li>
      <li><a href="/content/1/?buttonId=2&template=quienes_somos.html#cuerpo_medico">Cuerpo M&eacute;dico</a></li>
      <li><a href="/listContents/?categoryId=2&template=novedades.html">Novedades</a></li>
    </ul>
  </div>

  <div class="sitemap">
    <h3>Bal&oacute;n intrag&aacute;strico</h3>
    <ul>
      <li><a href="/balongastrico">Bal&oacute;n intrag&aacute;strico ( BIB System) para el tratamiento de la obesidad</a></li>
    </ul>
  </div>

  <div class="sitemap">
    <h3>Enfermedades y Tratamientos</h3>
    <ul>
      <li><a href="/content/5/">Reflujo Gastro Esof&aacute;gico</a></li>
      <li><a href="/content/6/">C&aacute;lculos de ves&iacute;cula</a></li>
      <li><a href="/content/17/">Distensi&oacute;n abdominal, un problema frecuente</a></li>
      <li><a href="/content/7/">Constipaci&oacute;n</a></li>
      <li><a href="/content/18/">Consejo a los viajeros</a></li>
      <li><a href="/listContents/?categoryId=6&template=enfermedades_tratamientos.html">Enfermedades D&iacute;gestivas</a></li>
    </ul>
  </div>

  <div class="sitemap">
    <h3>Educaci&oacute;n al paciente</h3>
    <ul>
      <li><a href="/endocapsula">Endoc&aacute;psula o c&aacute;psula endoscopica</a></li>
      <li><a href="/content/15/">Preparaci&oacute;n para Estudio de Colono Videoendoscopia</a></li>
      <li><a href="/videoendoscopia">Videoendoscopia</a></li>
      <li><a href="/listContents/?categoryId=5&template=preguntas_pacientes.html">Qu&eacute; nos preguntan nuestros pacientes?</a></li>
      <li><a href="/listContents/?categoryId=4&buttonId=3&template=educacion_al_paciente.html">Educaci&oacute;n al paciente</a></li>
    </ul>
  </div>

  <div class="sitemap">
    <h3>Art&iacute;­culos para M&eacute;dicos</h3>
    <ul>
      <li><a href="/listContents/?categoryId=10&template=congresos.html">Programas de reuniones cient&iacute;ficas y congresos</a></li>
      <li><a href="/listContents/?categoryId=7&template=articulos_profesionales.html">Art&iacute;­culos para M&eacute;dicos</a></li>
    </ul>
  </div>

			
</div>

{% endblock %}
