{% extends "base/base.html" %}

{% block content %}
<style>
    #video_download .dc p, #video_download li{
        color: #6f6f6f;
        font-size: 12px;
    }
</style>


<div class="dr" id="video_download">
	<div class="dc" style="width:35px;"><img src="/media/images/spacer.gif" width="1" height="1" alt=""></div>
	<div class="dc" style="width:650;">
		<div style="font-size:18px;margin-bottom:12px;">
            <p>Gracias {{paciente}} por atenderse con nosotros.</p>
            {% if link_vencido %}
                <p>Le informamos que el link a expirado. Si a&uacute;n desea realizar la descarga  por favor env&iacute;enos un mail a cedirsalud@gmail.com</p>
            {% else %}
                <p>Si ud. no es {{paciente}} por favor reportelo inmediatamente al tel&eacute;fono 449-9536 o por mail a cedirsalud@gmail.com</p>
                
                <h4>Instrucciones para descargar y reproducir el video</h4>
                <ul>
                    <li>Haga click en el siguiente link: <a href="{{video_url}}" target="_blank">{{video_url}}</a></li>
                    <li>Ser&aacute;s redirigido al sitio Mega, donde ver&aacute;s un archivo con tu nombre y extensi&oacute;n "mpg".</li>
                    <li>Haga doble click sobre este archivo para iniciar la descarga.</li>
                    <li>Por &uacute;ltimo b&uacute;sque y reprodusca el video en su computadora (suele descargarse dentro de la carpeta "Descargas")</li>
                <ul>
                
                <p>Nota: es recomandable usar <a href="https://www.google.es/chrome/browser/desktop/index.html" target="_blank">Chrome</a> como navegador.</p>
                <p>
                    Nota 2: el link estar&aacute; disponible para descarga hasta el {{fecha_vencimiento}}. Si el video no esta disponible o tiene problemas
                    para realizar la descarga por favor comuniquese con nosostros al tel&eacute;fono 449-9536 o por mail a cedirsalud@gmail.com.
                </p>
			{% endif %}
                <p>
                IMPORTANTE: El estudio endoscopico realizado debe ir acompañado por el informe escrito y firmado por el medico tratante como &uacute;nico comprobante exigible. </br>
                Todo otro tipo de material, ya sean im&aacute;genes fotogr&aacute;ficas impresas o grabadas en tiempo real y archivadas en formato de DVD o nube inform&aacute;tica, 
                ser&aacute;n consideras como im&aacute;genes complementarias opcionales, sujeto a disponibilidad t&eacute;cnica y sin obligaci&oacute;n por parte de la instituci&oacute;n a la entrega de este material complenetario.
                </p>
                <p><img src="/media/images/icon-ingecol_01.png" alt="Medio Ambiente Icono" style="width:50px; height:50px; vertical-align: middle;"/>Al utilizar el link de descarga en vez de un DVD estas contribuyendo al cuidado del medio ambiente.</p>
		</div>
	</div>
</div>
{% endblock %}
