<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
    <title>Cedir - Gestor de turnos</title>

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/chosen/chosen.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/turnos/layout.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/turnos/layout_print.css' %}" media="print"/>

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/turno.js' %}"></script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div>
        <div style="display:block;float:left;cursor:pointer;margin-top:2px;" onclick="location.href='/turno/'">
	    <img  src="/media/images/turnos/cedirLogoMinMin.jpg" alt="Logo de Cedir" />
	    <img  src="/media/images/turnos/cedirNombre_descripcionMed.jpg" alt="Logo de Cedir" style="height:45px;"/>
      </div>
      <div id="user-tools">Bienvenido/a,<strong> {{logged_user_name}}</strong>. <a href="#">Cambiar contrase&ntilde;a</a> / <a href="/usuario/salir/">Salir</a></div>
    </div>
    <ul class="topnav">
      <li>
	  <a href="#">Pacientes</a>
	  <span></span>
	  <ul class="subnav">
	      <li><a href="/paciente/">Nuevo</a></li>
	      <li><a href="/paciente/buscar/">Buscar</a></li>
	  </ul>
      </li>
      <li>
	  <a href="#">Turnos</a>
	  <span></span>
	  <ul class="subnav">
	      <li><a href="/turno/disponibles/">Nuevo</a></li>
	      <li><a href="/turno/buscar/">Buscar</a></li>
	  </ul>
      </li>
      <li>
	  <a href="#">Medicos</a>
	  <span></span>
	  <ul class="subnav">
	      <li><a href="/disponibilidad/">Horarios de atenci&oacute;n</a></li>
	  </ul>
      </li>
    </ul>
    <div class="clear"></div>
  </div>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <div id="footer">
    Cedir - Centro de Endoscop&iacute;as Digestivas de Rosario
  </div>

</div>
</body>
</html>
