<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Cedir - Gestor de turnos</title>
    <link rel="stylesheet" type="text/css" href="/css/TurnosStyle.css"/>
    <script type="text/javascript" src="/js/turno.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
</head>
<body>
    <center>
    <table border="1"  width="80%" cellpadding="1" cellspacing="1" >
       <tr>
            <th style="background-color:White; "><img src="/images/turnos/cedirLogoMinMin.jpg" alt="Logo de Cedir"/></th>
            <th style="background-color: #99cccc; font-size:large;"><marquee>CEDIR</marquee></th>            
       </tr>     
       
       <tr>           
            <th colspan="2" style="text-align: left">
                
            <div class="menu">
	            <ul>
	                <li>
		                <div class="menuTitle" id="title_1" align="left" onmouseover="showSubmenu('1', 'submenu_1'); this.style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_1'); this.style.backgroundColor=''; " >
			                <div style="padding-top:3px;">Pacientes</div>
		                </div>
		                <div id="submenu_1" class="subMenu" align="left" onmouseover="showSubmenu('1', 'submenu_1'); document.getElementById('title_1').style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_1'); this.style.backgroundColor=''; document.getElementById('title_1').style.backgroundColor=''">
			                <div id="submenu_item_14" class="subMenuItem" onclick="window.location.href = '/app/?controlador=Pacientes&accion=getCreate';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span_14" class="submenuTitle" >Nuevo</span>
			                </div>
        				
			                <div id="submenu_item_12" class="subMenuItem" onclick="window.location.href = '/app/?controlador=Pacientes&accion=getBuscar';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span_12" class="submenuTitle" >Buscar</span>
			                </div>
		                </div>
	                </li>
	                
	                <li>
		                <div class="menuTitle" id="title_2" align="left" onmouseover="showSubmenu('2', 'submenu_2'); this.style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_2'); this.style.backgroundColor=''; " >
			                <div style="padding-top:3px;">Turnos</div>
		                </div>
		                <div id="submenu_2" class="subMenu" align="left" onmouseover="showSubmenu('2', 'submenu_2'); document.getElementById('title_2').style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_2'); this.style.backgroundColor=''; document.getElementById('title_2').style.backgroundColor=''">
			                <div id="submenu_item_4" class="subMenuItem" onclick="window.location.href = '/app/?controlador=Pacientes&accion=getBuscar';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span_4" class="submenuTitle" >Nuevo</span>
			                </div>
        					<div id="submenu_item_9" class="subMenuItem" onclick="window.location.href = '/app/?controlador=Turnos&accion=getBuscarTurnos';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span_9" class="submenuTitle" >Buscar Turno</span>
			                </div>

			                <!--<div id="submenu_item_1" class="subMenuItem" onclick="window.location.href = '/Cedir/BuscarTurnoExistente.aspx';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span_1" class="submenuTitle" >Anunciar</span>
			                </div>
        				
			                <div id="submenu_item_8" class="subMenuItem" onclick="window.location.href = '/Cedir/BuscarPaciente.aspx';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span_8" class="submenuTitle" >Configuración</span>
			                </div>-->
		                </div>
	                </li>

	                <li>
		                <div class="menuTitle" id="title_3" align="left" onmouseover="showSubmenu('3', 'submenu_3'); this.style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_3'); this.style.backgroundColor=''; " >
			                <div style="padding-top:3px;">Reclamos</div>
		                </div>
		                <div id="submenu_3" class="subMenu" align="left" onmouseover="showSubmenu('3', 'submenu_3'); document.getElementById('title_3').style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_3'); this.style.backgroundColor=''; document.getElementById('title_3').style.backgroundColor=''">
			                <div id="submenu_item_15" class="subMenuItem" onclick="window.location.href = '/app/?controlador=Reclamos&accion=getReclamos';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span15" class="submenuTitle" >Listar</span>
			                </div>
		                </div>
	                </li>
	                <li>
		                <div class="menuTitle" id="title_4" align="left" onmouseover="showSubmenu('4', 'submenu_4'); this.style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_4'); this.style.backgroundColor=''; " >
			                <div style="padding-top:3px;">Ordenes</div>
		                </div>
		                <div id="submenu_4" class="subMenu" align="left" onmouseover="showSubmenu('4', 'submenu_4'); document.getElementById('title_4').style.backgroundColor='#ccc';" onmouseout="closeSubmenu('submenu_4'); this.style.backgroundColor=''; document.getElementById('title_4').style.backgroundColor=''">
			                <div id="submenu_item_16" class="subMenuItem" onclick="window.location.href = '/app/?controlador=Ordenes&accion=getOrdenesParaPresentar';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span16" class="submenuTitle" >Listar</span>
			                </div>
			                <div id="submenu_item_17" class="subMenuItem" onclick="window.location.href = '/app/?controlador=Ordenes&accion=getRegistrarOrdenesPresentadasObraSocial';" onmouseover="this.className='subMenuItemOver';" onmouseout="this.className='subMenuItem';">
				                <span id="span17" class="submenuTitle" >Presentación</span>
			                </div>
		                </div>
	                </li> 
	                
                </ul>

            </div>

                
                
            </th> 
       </tr>
       <tr>
            <td colspan="2" style="height: 554px">                    
		{% block content %}{% endblock %}
            </td>
       
       </tr>
       <tr>
        <td colspan="2" align="center" style="background-color: #cccccc"> Pie de Página </td>
       </tr>
    </table>
    </center>
    </form>
</body>
</html>

