<div class="dr"  style="text-align:center;width-:100%;" >
<!-- 	<div class="dc"><a href="#"><img src="/images/footer_logo.gif" alt="" style="margin:35px 27px 0px 23px;"></a></div> -->
	<div class="dc" style="width:100%;">
		Cedir - Centro de Endoscopia Digestiva Rosario - Bv. Oro&ntilde;o 1564 - Rosario	
	</div>
	<div class="dc" style=""><img src="images/spacer.gif" width="1" height="1" alt=""></div>
	<div class="dc"  style="width:100%; ">
		<b>Tel: </b> (0341)  449-9536 / 449-1184 / 447-2459
	</div>
	<div class="dc" style="width:100%;">
		<b>cedirsalud@gmail.com</b>
	</div>
	<div class="dc" style="width:100%;">
		<a href="/mapa-web">Mapa del Sitio</a> - <a href="/enlaces">Enlaces</a>
	</div>
<!--<div class="dc" style="width:16px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div>
<div class="dc" style="width:170px; margin:40px 0px 0px 0px;"><b>Complejo Cruz Azul - Rosario - Argentina </b>-->
<!--</div>-->
</div>