{% extends "base/base.html" %}

{% block content %}
<div class="dr">
	<div class="dc" style="width:26px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div>
	<div class="dc" style="width:200px;">
		<img src="images/title_4_1.gif" alt="" style="margin:17px 0px 15px 0px;"><br>
		<b>Press relations:</b><br>
		Telephone:<img src="images/spacer.gif" width="11" height="1" alt="">+1 959 603 6035<br>
		FAX:<img src="images/spacer.gif" width="42" height="1" alt="">+1 101 889 9898<br>
		E-mail: <em><a href="#">press@companyname.com</a></em>
		<br style="line-height:1px;"><br style="line-height:11px;">
		<b>Partnerships and alliances:</b><br>
		Telephone:<img src="images/spacer.gif" width="11" height="1" alt="">+1 959 603 6035<br>
		FAX:<img src="images/spacer.gif" width="42" height="1" alt="">+1 101 889 9898<br>
		E-mail: <em><a href="#">partners@companyname.com</a></em>
		<br style="line-height:1px;"><br style="line-height:11px;">
		<b>Innovations information:</b><br>
		Telephone:<img src="images/spacer.gif" width="11" height="1" alt="">+1 959 603 6035<br>
		E-mail: <em><a href="#"> planning@companyname.com</a></em>
		<br style="line-height:1px;"><br style="line-height:11px;">
		<b>Training center:</b><br>
		Telephone:<img src="images/spacer.gif" width="11" height="1" alt="">+1 959 603 6035<br>
		E-mail: <em><a href="#">jobs@companyname.com</a></em>
		<br style="line-height:1px;"><br style="line-height:11px;">
		<b>Job opportunities:</b><br>
		Telephone:<img src="images/spacer.gif" width="11" height="1" alt="">+1 959 603 6035<br>
		E-mail: <em><a href="#">partners@companyname.com</a></em>
	</div>

	<div class="dc" style="width:59px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div>
	<div class="dc" style="width:166px;">
		<div class="dt">
			<div class="dr">
				<div class="dc">
					<img src="images/title_4_2.gif" alt="" style="margin:17px 0px 21px 0px;"><br>
					<img src="images/pic_4_1.jpg" alt="" style="margin:0px 0px 6px 0px;"><br>
					<b>The Company Name Inc.</b><br>
					8901 Marmora Road,<br>
					Glasgow, D04 89GR.
					
					<br style="line-height:1px;"><br style="line-height:15px;">
					Freephone:&nbsp;&nbsp;&nbsp;&nbsp;+1 800 559 6580<br>
					Telephone:<img src="images/spacer.gif" width="14" height="1" alt="">+1 800 603 6035<br>
					FAX:<img src="images/spacer.gif" width="45" height="1" alt="">+1 800 889 9898<br> 
					<br style="line-height:1px;"><br style="line-height:22px;">
					<b>Aeneamy hendrer.</b><br>
					it mauris. Phasellus porta. Fusces scipit varius mi. Cum socis natoqu penatibus et magnis parturient.
					<br style="line-height:1px;"><br style="line-height:5px;">
					<img src="images/list_0_1.gif" alt="" style="margin:0px 4px 0px 0px;" align="top"><a href="#">Praesent vestibulum molestie.</a>								
				</div>
			</div>
		</div>
	</div>
	<div class="dc" style="width:52px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div>
	<div class="dc" style="width:200px; height:343px; background:#FBFBFB;"><img src="images/title_4_3.gif" alt="" style="margin:17px 0px 17px 15px;">
		<div class="dt">
			<div class="dr">
				<div class="dc" style=" width:26px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div>
				<div class="dc form">
					<div>
						<span><b>Praesent vestibulum.</b><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscp.</span>
						<br style="line-height:1px;"><br style="line-height:16px;">
						<form id="form" action="" enctype="multipart/form-data" name="form">
							<div><input type="text" value="Name:"></div>
							<div><input type="text" value="E-mail:"></div>
						
							<div style="height:144px;"><textarea rows="3" cols="3">Message:</textarea><br></div>
							<br style="line-height:5px;">
							<div class="right" style=" clear:both;"><img src="images/list_0_1.gif" alt="" style="margin:0px 4px 0px 0px;" align="top"><a href="#" onClick="document.getElementById('form').reset()">Clear</a><img src="images/list_0_1.gif" alt="" style="margin:0px 4px 0px 18px;" align="top"><a href="#" onClick="document.getElementById('form').submit()">Send</a><img src="images/spacer.gif" width="1" height="1" alt=""></div>
						</form>			
					</div>
				</div>
				<div class="dc" style=" width:14px;"><img src="images/spacer.gif" width="1" height="1" alt=""></div>
			</div>
		</div>
	</div>	

			
</div>

{% endblock %}
