@media print {
	/*display observation column on printing*/
	.observacion_column{
		display: table-cell !important;
		visibility: visible;
		word-wrap: break-word;
	}

	.observacion_wrapper{
		max-width:250px;
	}
	/*hide actuin column*/
	.action_column{
		display: none;
	}
	/*hide buscar button*/
	.form-row input[type=submit] {
	    display: none;
	}

	/*hide top menu*/
	.topnav{
		display: none;
	}

	/*hide pop-up*/
	#dialog{
		display: none;
	}
}
