#info-turno {
    margin-top: 11px;
    display: none;
}

#info-turno table{
    padding-left: 15px;
    font-size: 11px;
    border-collapse: collapse;
}

#info-turno table, th, td {
    border: 1px solid #a9a9a9;
}

#info-no-atiende .modal-body {
    font-size: 13px;
}